<!DOCTYPE html>
<html>
<head>
    <title>404 Error</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        h1 {
            font-size: 48px;
            margin-top: 100px;
        }
        p {
            font-size: 24px;
            margin-top: 20px;
        }
        .button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>404 Error</h1> <!--cambiar por moustache-->
    <p>Page not found</p>
    <a href="/" class="button">Go to Main Page</a>
</body>
</html>
